---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - Not Found">
    <div class="bg-gray-800 px-6 pb-6 pt-[136px] md:pt-[88px] h-screen">
        <h1 class="text-gray-100 text-2xl pb-6 font-bold text-center">
            404 - Not Found
        </h1>
        <img class="w-xl mx-auto" src="/404.gif" alt="404 Not Found" />
    </div>
</Layout>
